{erl_opts, [debug_info]}.
{deps, [
    {consuela, {git, "https://github.com/valitydev/consuela", {branch, master}}},
    jsx
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [registry_bench, jsx]}
]}.

{relx, [
    {release,
        {registry_bench, "0.1"},
        [sasl, registry_bench, jsx, consuela],
        [
            {dev_mode, false},
            {include_erts, false},
            {include_src, false},
            {sys_config_src, "config/sys.config.src"},
            {vm_args_src, "config/vm.args.src"},
            {extended_start_script, true}
        ]
    }
]}.
