{erl_opts, [debug_info]}.
{deps, [jsx]}.

{shell, [
  % {config, "config/sys.config"},
    {vm_args_src, "config/vm.args.src"},
    {apps, [registry_bench, jsx]}
]}.

{relx, [
    {release,
        {registry_bench, "0.1"},
        [sasl, registry_bench, jsx],
        [
            {dev_mode, false},
            {include_erts, false},
            {include_src, false},
            {vm_args_src, "config/vm.args.src"},
            {extended_start_script, true}
        ]
    }
]}.
