[
    {registry_bench, [
        {reg_fun, fun consuela:register_name/2}
    ]},

    {consuela, [
        {registry, #{
            nodename => "consul-0",
            namespace => <<"namespace">>,
            consul => #{
                url => "http://nix.yapp.zone:8500"
            }
        }}
    ]}
].